* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background: linear-gradient(180deg, #4b0082, #7a1fa2);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif;
  overflow: hidden;
}

.contenedor {
  text-align: center;
}

/* TEXTO */
#mensaje {
  color: white;
  font-size: 30px;
  margin-bottom: 25px;
  animation: latido 2s infinite;
}

/* FLOR */
.flor {
  width: 180px;
  height: 180px;
  background: radial-gradient(circle, #ffeb3b 60%, #fdd835);
  border-radius: 50%;
  position: relative;
  animation: flotar 3s ease-in-out infinite;
}

/* CENTRO */
.centro {
  width: 45px;
  height: 45px;
  background: #5d4037;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* ANIMACIONES */
@keyframes flotar {
  0%   { transform: translateY(0); }
  50%  { transform: translateY(-20px); }
  100% { transform: translateY(0); }
}

@keyframes latido {
  0% { transform: scale(1); }
  50% { transform: scale(1.08); }
  100% { transform: scale(1); }
}
