body {
    margin: 0;
    height: 100vh;
    overflow: hidden;
    font-family: Arial, sans-serif;
    background: linear-gradient(to top, #87ceeb, #e0f7ff);
    text-align: center;
}

h1 {
    margin-top: 15px;
}

#jardin {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.flor {
    position: absolute;
    width: 20px;
    height: 20px;
    background: pink;
    border-radius: 50%;
    transform: scale(0);
    animation: crecer 0.6s forwards;
}

.petalo {
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

.centro {
    position: absolute;
    width: 12px;
    height: 12px;
    background: yellow;
    border-radius: 50%;
    top: 4px;
    left: 4px;
}

@keyframes crecer {
    to {
        transform: scale(1);
    }
}
