body {
  margin: 0;
  overflow: hidden;
  background: black;
  font-family: Segoe UI, sans-serif;
  color: white;
}

#campo {
  position: fixed;
  inset: 0;
}

/* estrellas */
.estrella {
  position: absolute;
  width: 2px;
  height: 2px;
  background: white;
  border-radius: 50%;
  opacity: .8;
  animation: parpadeo 2s infinite alternate;
}

@keyframes parpadeo {
  from { opacity:.3 }
  to { opacity:1 }
}

/* frases */
.frase {
  position: absolute;
  color: #ff9bd6;
  font-size: 18px;
  animation: subir linear forwards;
}

@keyframes subir {
  from { transform: translateY(40px); opacity:0 }
  20% { opacity:1 }
  to { transform: translateY(-140px); opacity:0 }
}

/* stickers */
.sticker {
  position: absolute;
  font-size: 22px;
  animation: flotar 4s linear forwards;
}

@keyframes flotar {
  to {
    transform: translateY(-180px) rotate(180deg);
    opacity: 0;
  }
}

/* centro */
#titulo {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  font-size: 42px;
  color: #ff77cc;
  text-shadow: 0 0 20px #ff4da6;
}
