* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background: #6a0dad; /* morado TikTok */
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif;
}

.contenedor {
  position: relative;
  width: 100%;
  height: 100%;
}

.texto {
  position: absolute;
  top: 20%;
  width: 100%;
  text-align: center;
  color: white;
  font-size: 26px;
  letter-spacing: 1px;
}

/* FLOR */
.flor {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -40%);
}

/* PETALOS */
.petalos {
  width: 180px;
  height: 180px;
  background: yellow;
  border-radius: 50%;
  box-shadow:
    0 -70px yellow,
    0 70px yellow,
    70px 0 yellow,
    -70px 0 yellow,
    50px -50px yellow,
    -50px -50px yellow,
    50px 50px yellow,
    -50px 50px yellow;
}

/* CENTRO */
.centro {
  position: absolute;
  top: 60px;
  left: 60px;
  width: 60px;
  height: 60px;
  background: #5b3a1e;
  border-radius: 50%;
}

/* TALLO */
.tallo {
  position: absolute;
  top: 180px;
  left: 85px;
  width: 10px;
  height: 160px;
  background: green;
}

/* HOJA */
.hoja {
  position: absolute;
  top: 250px;
  left: 95px;
  width: 60px;
  height: 30px;
  background: green;
  border-radius: 50%;
  transform: rotate(25deg);
}
