* {
  box-sizing: border-box;
}

body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  background: #5b0fa1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif;
  overflow: hidden;
}

#message {
  color: white;
  font-size: 24px;
  margin-bottom: 40px;
  text-align: center;
}

/* FLOR */
.flower {
  position: relative;
  width: 120px;
  height: 120px;
}

.petals {
  position: absolute;
  width: 120px;
  height: 120px;
  background: yellow;
  border-radius: 50%;
  box-shadow:
    40px 0 yellow,
    -40px 0 yellow,
    0 40px yellow,
    0 -40px yellow,
    28px 28px yellow,
    -28px -28px yellow,
    -28px 28px yellow,
    28px -28px yellow;
}

.center {
  position: absolute;
  top: 35px;
  left: 35px;
  width: 50px;
  height: 50px;
  background: #5a3a00;
  border-radius: 50%;
}

.stem {
  position: absolute;
  top: 120px;
  left: 58px;
  width: 4px;
  height: 160px;
  background: green;
}
