body {
  margin: 0;
  height: 100vh;
  background: purple;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

.flower {
  width: 100px;
  height: 100px;
  background: yellow;
  border-radius: 50%;
}
