.flower {
  position: relative;
  width: 200px;
  height: 200px;
  animation: spin 20s linear infinite;
}

.petal {
  position: absolute;
  width: 40px;
  height: 100px;
  background: gold;
  border-radius: 50%;
  top: 50px;
  left: 80px;
  transform-origin: bottom center;
  transform: rotate(calc(var(--i) * 45deg));
}

.center {
  position: absolute;
  width: 60px;
  height: 60px;
  background: #5a3a00;
  border-radius: 50%;
  top: 70px;
  left: 70px;
}

@keyframes spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
